%h1 Quotes and authors


.board
  / - @cards.collect { |card| card.category }.uniq!.each do |category|
  /   .card.col6.cat-card
  /     .cat
  /       = category

  - @cards.each do |card|
    = partial :card, @card=card


%script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
%script{:src=>"/memory.js"}