$flatiron-blue: #2277AA;

@import url(http://fonts.googleapis.com/css?family=Overlock:400,700,900,400italic,700italic,900italic);

@mixin border-radius($size) {
  -webkit-border-radius: $size;
     -moz-border-radius: $size;
          border-radius: $size;
}

body {
  font-family: 'Overlock', 'Helvetica', 'Arial', sans-serif;
  background: url(/img/lib.jpg);
}

/* grid */
.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.col6 {
  width: 20%;
  display: inline-block;
}

.col3 {
  width: 33%;
  display: inline-block;
}

.col2 {
  width: 50%;
  display: inline-block;
}

/* layout components */
footer {
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  width: 100%;
  div {
    background-image: url(/img/lib.jpg);
    background-position: 0 -205px; width: 260px; height: 199px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 260px;
    height: 200px;
    &:hover{
      background-position: 0 -0; width: 260px; height: 199px;
    }
  }
}

/* type */
h1 {
  color: white;
  font-weight: 900;
  font-size: 40px;
}

/* cards */
.card {
  @include border-radius(10px);

  background-color: $flatiron-blue;
  height: 100px;
  border: 2.5px solid transparent;
  position: relative;
  display: inline-block;
  vertical-align: text-center;

  /* events */
  &:hover{
    cursor: pointer;
  }

  /* card components */
  .question, .answer {
    display: none; /* hide question and answer */
    font-size: 14.5px;
  }
  .value, .question, .answer, .cat {
    width: 100%;
    text-align: center;
    padding-top: 12px;
    position: absolute;
    color: white;
    font-weight: 700;
  }
  .value, .cat {
    font-size: 30px;
  }

  .cat {
    font-weight: 900;
  }

  /* card status */
  &.chosen {
    border: 2.5px solid yellow;
  }
  &.played {
    border: 2.5px solid gray;
    background: gray url("/img/blue.jpg") no-repeat center;
  }
  &.disabled{
    background-color: #EC590B;
    color: #666666;
  }

}



/* jeopardy */
.scoreboard-container {
  height: 125px;
  position: fixed;
  bottom: 10px;
  background: rgba(255,255,255,0.5);
  width: 100%;
  margin: 10px auto;
  padding: 10px;
}



.board {
  width: 80%;
  margin: auto;
}